.indexWrapper {
    display: flex;
    width: 1200px;
    justify-content: center;
    flex-wrap: wrap;


}
.userContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: lightblue;
    width: 400px;
    padding: 10px;
    margin: 10px;

}
.indexBtn {
    background: lemonchiffon;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}
